.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FFE81F;
  border-radius: 50%;
  cursor: pointer;
}
.category{
  background-color: white;
}
.active, .category:hover{
  background-color: #FFE81F;
}

/* change background color when class is selected */
