.itemCardContainer{
    position:relative;
    cursor:pointer;
    background-color: rgb(197, 122, 8);
    border-radius: 10px;
    margin:10px;
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(167, 1, 227);
}
.mainBox{
    margin:auto;
    padding:40px;
    text-align:center;
    font-size: 17px;
    color:white;
}
.carousel{
    margin:auto;
    padding:30px;
    text-align:center;
    font-size: 17px;
    color:white;
}
.inputs{
    display:flex;
    flex-direction:column;
    gap:10px;
    width: 100%;
    height: 100%;
}