.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.followInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px
}